In [ ]:
import pandas as pd

In [ ]:
!pip install xlrd
data=pd.read_excel("/content/Data Model - Pizza Sales.xlsx")

Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
data

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,Regular,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,Regular,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,Medium,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,Medium,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,Regular,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,Regular,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,Medium,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,Small,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,Medium,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,Small,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [ ]:
data.drop(["order_time"],axis=1,inplace=True)

In [ ]:
data.isnull().sum()

order_details_id     0
order_id             0
pizza_id             0
quantity             0
order_date           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [ ]:
import datetime

In [ ]:
data["day_no."]=data["order_date"].dt.day
data["day_name"]=data["order_date"].dt.day_name()
data["month_no."]=data["order_date"].dt.month
data["month_name"]=data["order_date"].dt.month_name()
data["year"]=data["order_date"].dt.year
data.drop(["order_date"],axis=1)

,order_details_id,order_id,pizza_id,quantity,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,day_no.,day_name,month_no.,month_name,year
0,1,1,hawaiian_m,1,13.25,13.25,Regular,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,1,Thursday,1,January,2015
1,2,2,classic_dlx_m,1,16.00,16.00,Regular,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,1,Thursday,1,January,2015
2,3,2,five_cheese_l,1,18.50,18.50,Medium,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,1,Thursday,1,January,2015
3,4,2,ital_supr_l,1,20.75,20.75,Medium,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,1,Thursday,1,January,2015
4,5,2,mexicana_m,1,16.00,16.00,Regular,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,1,Thursday,1,January,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,16.75,16.75,Regular,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,31,Thursday,12,December,2015
48616,48617,21348,four_cheese_l,1,17.95,17.95,Medium,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,31,Thursday,12,December,2015
48617,48618,21348,napolitana_s,1,12.00,12.00,Small,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,31,Thursday,12,December,2015
48618,48619,21349,mexicana_l,1,20.25,20.25,Medium,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,31,Thursday,12,December,2015
48619,48620,21350,bbq_ckn_s,1,12.75,12.75,Small,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,31,Thursday,12,December,2015

In [ ]:
from google.colab import files

In [ ]:
data.to_csv("pizza_data.csv")

In [ ]:
files.download("pizza_data.csv")